@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  height: 100%;
}

.App {
  background-color: #dee3e7;
  color: #212121;
  font-family: "Roboto", sans-serif;
  width: auto;
}